# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/JavaSourceCodesComparaotr/nbproject/private/
/JavaSourceCodesComparaotr/.idea
/Control data/Adam Pałka_23542_assignsubmission_file_/Adam.Pałka.ćw1/lab1_palindrom/nbproject/private/
/Control data/Dominik Dziembała_24022_assignsubmission_file_/Dominik.Dziembała.ćw1/Fibbonaci/build/
/Control data/Dominik Dziembała_24022_assignsubmission_file_/Dominik.Dziembała.ćw1/Fibbonaci/dist/
/Control data/Dominik Dziembała_24022_assignsubmission_file_/Dominik.Dziembała.ćw1/Fibbonaci/nbproject/private/